body{
	font-size: 16px;
}

a {
	color: #FAFAFA;
	text-decoration: none;
}

ul {
	list-style: none;
}

footer{
	background-color: #717171;
	color: #FAFAFA;
	height: 46px;
	padding: 1em;
	text-align: center;
}

.developers {
	font-size: 2em;
	padding: 1em 0 0 0;
	text-align: center;
}

.header {
	background-color: #717171;
	display: flex;
	justify-content: space-between;
}

.header .navbar-menu {
	display: flex;
	font-size: 1.5em;
	line-height: 84px;
}

.header .navbar-menu .navbar-menu-item a{
	border-radius: 10px;
	padding: .5em 2em;
	transition: .3s ease;
}
.header .navbar-menu .navbar-menu-item a:hover {
	border: 1px solid #FAFAFA;
}

.header .title {
	color: #FAFAFA;
	height: 64px;
	padding: 1em;
}

.header .title h1 {
	margin-left: 3em;
}

.descarga{
	background-color: #717171;
	color: #FAFAFA;
	height: 150px;
	padding: 1em;
	text-align: center;
}

.descarga h2 {
	margin-top: .5em;
	margin-bottom: 2.5em;
}

.descarga a{
	border: 3px solid white;
	border-radius: 10px;
	color: white;
	padding: 1.2em 1.5em;
}

.descripcion {
	background-color: #717171;
	color: #FAFAFA;
	padding: 1em 0 2em 0;
}

.descripcion h2 {
	font-size: 2em;
	padding: 1em 5em 0 5em;
	text-align: center;
}

.descripcion p {
	text-align: justify;
	padding: 1em 15em;
}

.feature{
	text-align: justify;
}

.feature h3{
	text-align: center;
	margin-top: 1.5em;
}

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.features div {
	width: 45%;
	height: 220px;
}

.images {
	height: 450px;
	display: flex;
	justify-content: center;
}


.images figure {
	margin-top: 11em;
}

.images figure img{
	height: 100px;
}

.hidden {
	display: none;
}