.description
	background-color #212121
	color #FAFAFA
	padding 1em 0 2em 0
	
	h2
		font-size 2em
		text-align center
		padding 1em 1em 0 1em
		
	p
		text-align justify
		padding 2em 3em 1em 3em

@media (min-width: 720px)
	.description
		h2
			padding 1em 5em 0 5em
			
		p
			padding 1em 10em