.features
	background-color #D09831
	color #10175D
	display flex
	flex-wrap wrap
	justify-content space-around
	padding-bottom 1em
	
	&-item
		text-align justify
		width 45%
		
		h3 
			text-align center
			margin-top 1.5em
