@import './normalize.css'
@import './reset'

body
  font-size 16px
  font-family 'Open Sans'

@import './header'
@import './description'
@import './images'
@import './download'
@import './features'
@import './footer'