/*footer{
	background-color: #717171;
	color: #FAFAFA;
	height: 46px;
	padding: 1em;
	text-align: center;
}
.images {
	height: 450px;
	display: flex;
	justify-content: center;
}


.images figure {
	margin-top: 11em;
}

.images figure img{
	height: 100px;
}

.hidden {
	display: none;
}*/